$primary-colour-rouge: #9F2A43;


.card {
    display: flex;
    flex-direction: column;
}

.container{
    width: 300px;
}

.card-content {
    margin-top: auto;
    border-bottom: 3px solid #9F2A43;
}

.button.navbar-item {
    height: auto
}

.logo-emoji {
    margin: 0 10px;
}

.form-link {
    margin-left: 3px;
}

span.logout {
    cursor: pointer;
}

section.section {
    min-height: calc(100vh - 11.25rem);
}

.hero-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-filter {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 80%;
    background-image: url('../assets/Hero.png');
    filter: brightness(0.4);
    z-index: -1;
}

.is-rouge {
    color: #9F2A43 !important;
}
.background-is-rouge {
    background-color: #9F2A43 !important;
    color: white !important;
    border: 0 solid #9F2A43 !important;
}

.is-grey{
    color: #D7D5C6 !important;
}

.background-is-grey {
    background-color: #D7D5C6 !important;
    border: 0 solid #D7D5C6 !important;
}

svg {
    height: 100% !important;
    width: 100% !important;
}
  .centered-container {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
  }

$footer-background-color: #D7D5C6;
$footer-padding: 2rem 1.5rem;
$box-padding: 1rem;

//Navbar styling

.navbar-menu {
    background-color: #ffffff !important; /* This is equivalent to bg-white in Tailwind */
  }

.navbar-brand, .navbar-item, .button {
    font-size: 1.125rem !important; 
    font-weight: 600 !important; 
    color: #1a202c !important; 
  }
  
  .navbar-brand:hover, .navbar-item:hover, .button:hover {
    color: #ffffff !important; 
    background-color: $primary-colour-rouge ;
  }

  .button:hover {
    color: #1a202c !important; 
    background-color: #ffffff !important;
  }
  
  
  .button {
    background-color: #edf2f7 !important; 
  }
  
  .button:hover {
    background-color: #e2e8f0 !important; 
  }
  

//navbar logo
//   .navbar-brand {
//     background-color: #ffffff !important; 
//   }





// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma, all customizations should live above this line.
@import "../../node_modules/bulma/bulma.scss";